<md-content>
  <div layout="row" layout-align="center">
    <md-input-container style="margin-right: 10px;">
      <label>Suchspalte</label>
      <md-select ng-model="title">
        <md-option ng-repeat="option in getColumnNames()" value="{{ option }}">{{ option }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Suchbegriff</label>
      <input md-no-asterisk name="description" ng-model="text">
    </md-input-container>
    <md-input-container class="md-block">
      <md-button ng-click="findRows()" ng-disabled="!title" class="md-raised md-primary">Show</md-button>
    </md-input-container>
  </div>

  <div layout="row" layout-align="center">
    <md-input-container class="md-block">
      <md-button ng-init="controls = false;" ng-click="controls = !controls;" class="md-raised md-primary">Felder anpassen</md-button>
    </md-input-container>
  </div>

  <md-list ng-show="columns && controls">
    <md-list-item class="md-2-line" ng-repeat="name in getColumnNames()">
      <md-checkbox ng-model="columns[$index].visible"></md-checkbox>
      <div class="md-list-item-text">
        <p>{{ name }}</p>
      </div>
    </md-list-item>
  </md-list>

  <div ng-show="loading" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <content ng-show="rows" columns="columns" rows="rows"></content>
</md-content>

<!--<div layout="row" ng-show="variations.length > 0">
  <md-input-container flex class="md-block">
    <md-button ng-click="hideInactives = !hideInactives" class="md-raised md-primary">Verstecken</md-button>
  </md-input-container>

  <md-input-container flex class="md-block">
    <md-button ng-click="activate()" class="md-raised md-primary">Alle aktevieren</md-button>
  </md-input-container>

  <md-input-container flex class="md-block">
    <md-button ng-click="deactivate()" class="md-raised md-primary">Alle deaktivieren</md-button>
  </md-input-container>
</div>

<md-list>
  <md-list-item class="md-2-line" ng-repeat="variation in variations" ng-hide="hideInactives && !variation.active">
    <md-checkbox ng-model="variation.active"></md-checkbox>
    <div class="md-list-item-text">
      <p>{{ variation.text }}</p>
    </div>
  </md-list-item>
</md-list>-->
