<md-content layout-fill>
  <table class="table table-bordered" style="max-width: inherit; max-height: 100%;">
      <thead>
          <tr>
              <th style="min-width: 120px;" ng-if="column.visible" ng-repeat="column in columns">{{ column.name }}</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="row in rows track by $index">
              <td ng-if="columns[$index].visible" ng-repeat="value in row track by $index">{{ value }}</td>
          </tr>
      </tbody>
  </table>
</md-content>
